@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

@theme {
    --font-logo: "Dancing Script", sans-serif; 
  }

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: var(--color-gray-100);
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: var(--color-gray-400);
      border-radius: 100vh;
      border: 3px solid var(--color-gray-400);
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: var(--color-gray-800);
      border-color: var(--color-gray-800);
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }